src/main/mule/hello-git-demo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="779716a6-e736-4559-b0d3-a914d2170f67" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-git-demoFlow" doc:id="b4eb5241-7ada-4b31-baf3-6b8fb4e85a44" >
		<http:listener doc:name="Listener" doc:id="7ec0f956-daf3-4a0c-ad75-77d04dd082cf" config-ref="HTTP_Listener_config" path="/gitdemo"/>
		<logger level="INFO" doc:name="Logger" doc:id="6aba1e44-30a7-42df-a3ef-e9ae2118756f" message='#["Request Received" ++ now()]'/>
		<ee:transform doc:name="Transform Message" doc:id="260ad9e7-5314-422d-86ce-8078cfa89235" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output text/plain
---
"Success"]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
